/* Style sheet for floating example */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;
   margin:10px;
   width:514px;
   border:1px solid #000000;}

p {
  background-color:#FFFFFF; 
  border:2px solid #000000;
  padding:5px; 
  margin:5px;
  clear:right;}


p.pullQuote {
  float:right; 
  width:150px;}

