/* style sheet for example cafe */

body {font-family:arial, verdana, sans-serif;}

#page {
	width:960px;
	border:10px solid #3399cc;
	padding:40px;
	margin:20px;}

h1, h2, h3, h4 {
	font-family:georgia, times, serif;
	color:#666666;}

p {
	color:#333333;
	font-size:90%;
	line-height:1.3em;}

#navigation {
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding:10px 0px 10px 0px;
	margin:20px 0px 20px 0px;}

#navigation a {
	color:#3399cc;
	text-decoration:none;
	margin-right:20px;}
	
.main_image {
	border:1px solid #000000;
	margin:0px 10px 10px 0px;}
	
