/* Style sheet for exercise2.html */

body {
    background-color:#ffffff;
    font-size:12px;
    font-family:verdana, arial, sans-serif;
}

div {
    border:groove 4px #999999;
    padding-left:5px;
    width:250px;
}

div.page1 {
    position:absolute;
    z-index:1;
    height:150px;
    z-index:1;
    background-color:#efefef;
}

div.page2 {
    position:absolute;
    z-index:10;
    left:85px;
    top:150px;
    height:100px;
    z-index:10;
    background-color:#ffffff;
}

div.page3 {
    position:absolute;
    z-index:5;
    left:175px;
    top:240px;
    height:150px;
    z-index:5;
    background-color:#efefef;
    background:solid;
}
