body {
	margin:0px;
	background-color:#000000;
	font-family:arial, verdana, sans-serif;}

#frame {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	background-color:#ffffff;
    background-image:url("images/960px_3column_background.gif");
	background-repeat:repeat-y;}

#page {
	margin:0px 10px 10px 10px;}

#header {
	background-color:#cccccc;
	padding:10px;
	height:120px;}

#navigation {
	background-color:#efefef;
	padding:10px;
	height:40px;}

#footer {
	background-color:#cccccc;
	padding:10px;
	height:40px;
	clear:both;
	border-top:20px solid #ffffff;}

/* 3 columns */
.column1of3, .column2of3, .column3of3 {
	float:left;
	width:280px;
	background-color:#cccccc;
	padding:10px;
	margin-top:20px;}

.column1of3, .column2of3, .columns1and2of3 {margin-right:20px;}

.columns1and2of3, .columns2and3of3 {
	float:left;
	width:600px;
	background-color:#cccccc;
	padding:10px;
	margin-top:20px;}



