/* Style sheet for ch09_eg17.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; }

table {
   width:350px;
   border-collapse:separate;
   empty-cells:hide;}


td {padding:5px;
   border-style:solid;
   border-width:1px;
   border-color:#999999;}
