body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;
   padding:0px;margin:0px;}

h1 {
  position:fixed;
  top:0px; left:0px;
  width:100%;
  color:#ffffff; background-color:#666666;
  margin:0px;padding:10px;
  height:60px;
  z-index:2;}

div.nav {
  z-index:1;
  position:absolute;
  top:80px; left:0px;
  width:100px;
  height:300px;
  padding:10px;
  background-color:#d6d6d6;}
 
h2 {
  padding:80px 0px 0px 130px;}

p {padding-left:130px;}
p.abstract{font-weight:bold;}

img {
  float:left; 
  width:60px;
  padding-right:5px;}

ul {
  clear:left; 
  list-style:circle;
  padding-left:145px;}

div.nav:before { 
  content: "Navigation ";
  font-size:18px;
  font-weight:bold;}

