/* Style sheet for exercise1.html */
/* This works, but check solution for alternative code */

body {
    background-color:#ffffff;
    font-family: verdana, arial, sans-serif;
    font-size:12px;
}

a {
    text-decoration:none;
}
a:active {
    text-decoration:underline;
}

a:visited {
    color:purple;
    text-decoration:none;
}

a:hover {
    color:green;
    text-decoration:underline;
}

ul {
    font-weight:bold;
    list-style:square;
}

#contents {
    list-style:circle;
    background-color:#efefef;
    width:400px;
}
