/* Style sheet for ch07_eg04.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;}

p.one {font-weight:normal;}
p.two {font-weight:bold;}
p.three {font-weight:normal;}
p.three span {font-weight:bolder;}
p.four {font-weight:bold;}
p.four span {font-weight:lighter;}
p.five {font-weight:100;}
p.six {font-weight:200;}
p.seven {font-weight:300;}
p.eight {font-weight:400;}
p.nine {font-weight:500;}
p.ten {font-weight:600;}
p.eleven {font-weight:700;}
p.twelve {font-weight:800;}
p.thirteen {font-weight:900;}

.column {width:150px;float:left;margin-right:30px;}

