/* Style sheet for ch07_eg06.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;}

p {font-variant:normal;}
span.smallcaps {font-variant:small-caps;}
